// Bootstrap style imports
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/startbootstrap-sb-admin/scss/sb-admin";
// Import angular CDK structural styling
@import '../../../node_modules/@angular/cdk/overlay-prebuilt.css';

// Import highlight.js theme and customization
@import '../../../node_modules/highlight.js/styles/default.css';

// Global styling
* {
  font-family: monospace;
}

// Drop-down button down arrow styling
iqui-dropdown-button iqui-button .iqui-button-content::after {
  content: '▾';
  padding-left: 8px;
}
