:host {
  display: flex;
  flex-direction: column;

  // Page Header
  .iqui-showcase-page-navbar {
    z-index: 1;
    height: 56px !important;
    padding: 8px 16px !important;
  }

  .iqui-showcase-page-content {
    z-index: 0;
    display: flex;
    width: 100%;
    margin-top: 56px;

    .iqui-showcase-router-outlet {
      width: 100%;
      height: calc(100vh - 56px);
      padding: 20px;
      overflow: auto;
    }
  }
}
