<!-- Header -->
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  <a class="navbar-brand mr-1" [routerLink]="'/'">InQuest V4 UI</a>
</nav>

<!-- Page -->
<div class="d-flex">
  
  <!-- Sidebar navigation -->
  <ul class="sidebar navbar-nav">

    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/functional/tooltip'">
        <span>Functional elements</span>
      </a>
    </li>
    <li class="nav-item pl-3">
      <a class="nav-link" [routerLink]="'/functional/tooltip'"> &lt;iqui-tooltip /&gt; </a>
    </li>
    <li class="nav-item pl-3">
      <a class="nav-link" [routerLink]="'/functional/dropdown'"> &lt;iqui-dropdown /&gt; </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/basics/button'">
        <span>Basic elements</span>
      </a>
    </li>
    <li class="nav-item pl-3">
      <a class="nav-link" [routerLink]="'/basics/button'"> &lt;iqui-button /&gt; </a>
    </li>
    <li class="nav-item pl-3">
      <a class="nav-link" [routerLink]="'/basics/dropdown-button'"> &lt;iqui-dropdown-button /&gt; </a>
    </li>
  </ul>

  <!-- Page content -->
  <content class="col p-2">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </content>

</div>
