<!-- Header -->
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  <a class="navbar-brand mr-1" [routerLink]="'/'">InQuest V4 UI</a>
</nav>

<!-- Page -->
<div class="d-flex">
  
  <!-- Sidebar navigation -->
  <ul class="sidebar navbar-nav">

    <!-- How to -->
    <li class="nav-item">
      <h5 class="nav-link disabled">How to</h5>
      <ul class="ml-0 pl-2">
        <li>
          <ul class="ml-0 pl-2">

            <!--Getting started -->
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/'">Getting started</a>
            </li>

          </ul>
        </li>
      </ul>
    </li>


    <!-- Documentation -->
    <li class="nav-item">
      <h5 class="nav-link disabled">Documentation</h5>
      <ul class="ml-0 pl-2">

        <!-- Functional directives -->
        <li class="nav-item">
          <h6 class="nav-link disabled">Functional directives</h6>
        </li>
        <li>
          <ul class="ml-0 pl-2">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/functional/tooltip'"> [iqui-tooltip] </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/functional/dropdown'"> [iqui-dropdown] </a>
            </li>
          </ul>
        </li>

        <!-- Forms -->
        <li class="nav-item">
          <h6 class="nav-link disabled">Forms</h6>
        </li>
        <li>
          <ul class="ml-0 pl-2">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/form/form'"> form[iquiForm] * </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/form/input'"> &lt;iqui-input /&gt; </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/form/checkbox'"> &lt;iqui-checkbox /&gt; </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/form/radio'"> &lt;iqui-radio /&gt; </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/form/select'"> &lt;iqui-select /&gt; </a>
            </li>
          </ul>
        </li>

        <!-- Basic controls -->
        <li class="nav-item">
          <h6 class="nav-link disabled">Basic controls</h6>
        </li>
        <li>
          <ul class="ml-0 pl-2">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/basics/button'"> &lt;iqui-button /&gt; </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/basics/dropdown-button'"> &lt;iqui-dropdown-button /&gt; </a>
            </li>
          </ul>
        </li>
        
        <!-- Code -->
        <li class="nav-item">
          <h6 class="nav-link disabled">Code</h6>
        </li>
        <li>
          <ul class="ml-0 pl-2">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/code/highlight-js'"> &lt;iqui-highlightjs /&gt; </a>
            </li>
          </ul>
          <ul class="ml-0 pl-2">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/code/playground'"> &lt;iqui-playground /&gt; </a>
            </li>
          </ul>
        </li>

      </ul>
    </li>
    
  </ul>

  <!-- Page content -->
  <content class="col p-2">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </content>

</div>
