<!-- Header -->
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  <a class="navbar-brand mr-1" [routerLink]="'/'">InQuest V4 UI</a>
</nav>

<!-- Page -->
<div class="d-flex">
  
  <!-- Sidebar navigation -->
  <ul class="sidebar navbar-nav">

    <!-- How to -->
    <li class="nav-item">
      <h5 class="nav-link disabled">How to</h5>
      <ul class="ml-0 pl-2">
        <li>
          <ul class="ml-0 pl-2">

            <!--Getting started -->
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/'">Getting started</a>
            </li>

          </ul>
        </li>
      </ul>
    </li>

    <!-- Documentation -->
    <li class="nav-item">
      <h5 class="nav-link disabled">Documentation</h5>

      <!-- Component pages tree -->
      <cdk-tree [dataSource]="pages" [treeControl]="tree">
        
        <!-- Page link -->
        <cdk-nested-tree-node *cdkTreeNodeDef="let node" 
          class="menu-tree-node">

          <!-- Link -->
          <a class="nav-link" [class.active]="node.meta.active" [routerLink]="node.path"> {{ node.title }} </a>

        </cdk-nested-tree-node>
        
        <!-- Page category group -->
        <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChildren"
          class="menu-tree-node menu-tree-node-group" [ngClass]="tree.isExpanded(node) ? ['menu-tree-node-expanded'] : ['menu-tree-node-collapsed']">

          <!-- Link -->
          <a cdkTreeNodeToggle class="nav-link" [class.active]="node.meta.active" [routerLink]="node.component ? node.path : null"> {{ node.title }}</a>

          <!-- Child links -->
          <div [class.menu-tree-invisible]="!tree.isExpanded(node)">
            <ng-container cdkTreeNodeOutlet></ng-container>
          </div>

        </cdk-nested-tree-node>

      </cdk-tree>

    </li>
    
  </ul>

  <!-- Page content -->
  <content class="col p-2">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </content>

</div>
