<!-- Content Pass-through -->
<div #syntax style="display: none">
  <ng-content></ng-content>
</div>

<!-- Playground -->
<div class="row mt-2">

  <!-- Live Example -->
  <div class="col-8 p-3">
    <div class="card">
      <div class="card-header"> Example </div>
      <div class="p-3">
        <ng-container #example></ng-container>
      </div>
    </div>
  </div> 

  <!-- Live Parameters Playground -->
  <div class="col-4 p-3">
    <div class="card">
      <div class="card-header"> Playground </div>
      <form iquiForm [size]="'sm'" class="p-3">
        <ng-container *ngFor="let key of _contextKeys">

          <!-- Boolean values -->
          <div class="form-group" *ngIf="_context[key].type === 'boolean'">
            <div class="form-check">
              <input class="form-check-input" type="checkbox"
                [checked]="_contextSelected[key]" (change)="_updateSelected(key, $event.target.checked)" />
              <label class="form-check-label"> {{ key }} </label>
            </div>
          </div>

          <!-- String values -->
          <div class="form-group" *ngIf="_context[key].type === 'string'">
            <label> {{ key }} </label>
            <input type="text"
              [value]="_contextSelected[key]" (change)="_updateSelected(key, $event.target.value)" />
          </div>

          <!-- Number values -->
          <div class="form-group" *ngIf="_context[key].type === 'number'">
            <label> {{ key }} </label>
            <input type="number"
              [value]="_contextSelected[key]" (change)="_updateSelected(key, $event.target.value)" />
          </div>

          <!-- Array values -->
          <div class="form-group" *ngIf="_context[key].type === 'array'">
            <label> {{ key }} </label>
            <div class="row">
              <div class="custom-control custom-radio mr-2" *ngFor="let value of _context[key].options">
                <input type="radio" class="custom-control-input"
                  [checked]="value == _contextSelected[key]" (change)="_updateSelected(key, value)">
                <label class="custom-control-label"> {{ value === undefined ? 'undefined' : (value === null ? 'null' : value) }} </label>
              </div>
            </div>
          </div>

        </ng-container>
      </form>
    </div>
  </div>

</div>

<!-- Syntax -->
<div class="card mt-2">
  <div class="card-header"> Usage </div>
  <div class="p-3">
    <iqui-highlightjs [syntax]="_usageSyntax" [languages]="['xml']"></iqui-highlightjs>
  </div>
</div>
