:host {
  font-family: monospace;

  .attribute {
    display: block;
    margin-top: 2px;
    .edit {
      display: inline;

      select {
        width: 120px;
        font-size: 11px;
      }
      input {
        width: 120px;
        font-size: 11px;
      }
      textarea.template,
      textarea.content {
        width: 420px;
        min-width: 420px;
        max-width: 420px;    
        font-size: 11px;    

        &.template {
          height: 40px;
          min-height: 40px;
        }
        &.content {
          height: 80px;
          min-height: 80px;  
        }
      }

    }
  }
}
